/* Some bug here with the structure - breaks visibility when padding is added */
.markdown-embed .markdown-preview-view 
{
    /* background-color: red; */
    padding: 0 0 0 0;
    /* padding: 10 0 0 0; */
}

/* .markdown-preview-view .file-embed  */
/* .markdown-preview-view .markdown-embed  */
/* { */
    /* border: none; */
    /* margin: 0 0 0 0; */
    /* } */
    
.markdown-preview-view .markdown-embed 
{
    /* margin: 0 0 0 0; */
    border: 0px;
    padding: 0 0 0 0;
}

.markdown-embed-link  
{
    /* background-color: red; */
}

.markdown-preview-view blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 2px 0 10px 10px;
}

.markdown-preview-view .markdown-embed .markdown-preview-view {
    max-height: fit-content;
} 


.markdown-preview-view .markdown-embed-content {
    /* background-color: blue; */
    max-height: fit-content;
    /* padding: 0 0 0 0; */
}

 .markdown-embed-title { 
    display: none;
}

.markdown-embed-link {
    /* display: none; */
}

.markdown-embed .markdown-embed-content .markdown-preview-view .markdown-preview-sizer  {
     /* margin-bottom: 0px; */
     /* background-color: green; */
     
}


.markdown-preview-view .markdown-embed-content p:first-child {
    margin-top: 0px;
}
.markdown-preview-view .markdown-embed-content p:last-child {
    margin-bottom: 0px;
}

.contains-task-list li.task-list-item .task-list-item-checkbox {
    /* background-color: blue; */
    /* margin-: 0.8em; */
    margin-left: -0.2em;
    margin-right: .7em;
}

.contains-task-list li  {
    /* background-color: red; */
    padding-left: 0.2em;
}

.markdown-preview-view ul li.task-list-item.is-checked {
    /* background-color: red; */
    text-decoration: none;    
    color: #777777;
}

 .markdown-preview-view.allow-fold-headings blockquote  {
     /* background-color: aquamarine; */
     padding: 0 0 0 10px;
     /* border-left: darkorange; */
     border-left: .3em;
     border-color: darkorange;
     border-radius: 0%;
     border-style: solid;
     /* border-right: 0px; */
     border-top: 0px;
     border-bottom: 0px;
     background-color: rgba(128,128,128,0.2);
 }